.project-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    max-width: 300px;
    background: var(--background-color);
    box-shadow: 0 4px 8px var(--shadow-color); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

.project-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.project-title {
    font-size: 1.5rem;
    color: var(--section-title-color);
    margin-bottom: 10px;
}

.project-description {
    font-size: 1rem;
    color: var(--text-color);
    flex-grow: 1;
    margin-bottom: 15px;
    line-height: 1.4;
}

.project-link {
    display: inline-block;
    padding: 8px 12px;
    background-color: #282c34;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.project-link:hover {
    background-color: #8391ad; /* Darker shade on hover */
}
